{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1>SteamSpire</h1>
<p>Welcome to SteamSpire, a city-builder game where you manage a Victorian-era Steampunk city. Build industrial zones to increase your steam count, build commercial zones to increase your gear count, <br>
    and build residential zones to increase your population. The more commercial zones you have adjacent to residential zones, the more gears you make. Use your gears to build more zones. <br>
    Remember, for every 10 citizens you have, 1 steam will be used each day! You will need a certain amount of citizens to unlock new zones. <br>
    If you're feeling risky, you can invest in military zones, adding to your military standing. They will not take up steam, but will take up 10 gears per zone. <br>
    Depending on your military standing, you have a set chance of claiming a plot of land for free. <br>
    Keep in mind that if you fail the chance, you will lose 1 military standing and a random military zone. <br>
    The goal is to build the biggest and most profitable city you can in a time limit of your choosing. Good luck!</p>
{% endblock %}