html {
    background-image: url("/public/Background.png");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center;
}

body .playerinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 50px;
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 50%;
    margin: 50px auto 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    margin: 10px;
}

.grid-item {
    background-color: white;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}