{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="playerinfo">
    <div>
        <p>Gears: [edit]</p>
        <p>Steam: [edit]</p>
        <p>Military Standing: [edit]</p>
        <p>Citizens: [edit]</p>
    </div>
    <div>
        <p>Day #</p>
    </div>
</div>
<div>
    <!-- grid -->
    <table id="grid">
        <tr>
            <td>Z1</td>
            <td>Z2</td>
            <td>Z3</td>
        </tr>
        <tr>
            <td>Z4</td>
            <td>Z5</td>
            <td>Z6</td>
        </tr>
        
        <tr>
            <td>Z7</td>
            <td>Z8</td>
            <td>Z9</td>
        </tr>
    </table>
</div>
{% endblock %}