{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="playerinfo">
    <div>
        <p>Gears: {{ gears }}</p>
        <p>Steam: {{ steam }}</p>
        <p>Military Standing: {{ military }}</p>
        <p>Citizens: {{ citizens }}</p>
        
    </div>
    <div>
        <p>Day #{{day}}</p>
    </div>
</div>
<div>
    <!-- grid -->
    <table id="grid">
        <tr>
            <td data-name="Z1" data-value="free">Z1</td>
            <td data-name="Z2" data-value="free">Z2</td>
            <td data-name="Z3" data-value="free">Z3</td>
        </tr>
        <tr>
            <td data-name="Z4" data-value="free">Z4</td>
            <td data-name="Z5" data-value="free">Z5</td>
            <td data-name="Z6" data-value="free">Z6</td>
        </tr>
        
        <tr>
            <td data-name="Z7" data-value="free">Z7</td>
            <td data-name="Z8" data-value="free">Z8</td>
            <td data-name="Z9" data-value="free">Z9</td>
        </tr>

    </table>

</div>
{% endblock %}