{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="container">
    <div class="playerinfo">
        <div>
            <p>Gears: {{gears}} | Steam: {{steam}} | Military Standing: {{military}} | Citizens: {{citizens}}</p>
        </div>
        <div>
            <p>Day #{{day}}</p>
        </div>
    </div>
</div>
<div>
    <!-- grid -->
    <table id="grid">
        <tr>
            <td data-name="Z1" data-value="free">Zone 1</td>
            <td data-name="Z2" data-value="free">Zone 2</td>
            <td data-name="Z3" data-value="free">Zone 3</td>
        </tr>
        <tr>
            <td data-name="Z4" data-value="free">Zone 4</td>
            <td data-name="Z5" data-value="free">Zone 5</td>
            <td data-name="Z6" data-value="free">Zone 6</td>
        </tr>
        
        <tr>
            <td data-name="Z7" data-value="free">Zone 7</td>
            <td data-name="Z8" data-value="free">Zone 8</td>
            <td data-name="Z9" data-value="free">Zone 9</td>
        </tr>

    </table>

</div>
{% endblock %}