{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="SteamSpire logo" width="700" height="700">
    <h1>Welcome to SteamSpire!</h1>
    <p>
        In this Victorian-era Steampunk city-builder game, your goal is to create the largest and most profitable city within a set time limit.
        Build a thriving city by strategically managing your zones and resources. Aim for the highest score possible based on your city’s performance.
    </p>
    <p>Zone Types:</p>
        <li>Industrial Zones: Increase your steam count.</li>
        <li>Commercial Zones: Boost your gear count. More citizens lead to more gears produced.</li>
        <li>Residential Zones: Grow your population.</li>
    <p>Resource Management:</p>
        <li>For every 10 citizens, you consume 1 steam daily.</li>
        <li>Use gears to purchase additional land and unlock new zones.</li>
    <!-- <p>Military Zones:</p>
        <li>Invest in military zones to enhance your military standing without consuming steam. Each zone costs 10 gears.</li>
        <li>You can attempt to invade plots of land for free based on your military standing, but failing this incurs a loss of 1 military standing and a random military zone.</li> -->
    
    <br><p>After selecting the number of days to play, click the "Start Game" button</p>
    <input type="number" id="days" placeholder="Days" min='1' max="7"><br>
    <button onclick="startGame()">Start Game</button>

    <script>
        function startGame() {
            const days = document.getElementById('days').value || 7; // Default to 7 if no input
            const gameUrl = `{{ url_for('game') }}?days=${days}`;
            window.location.href = gameUrl;
        }
    </script>    
</div>
{% endblock %}
