html {
    background-image: url("../images/Background.png");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

img {
    width: 160px;
    height: 160px;
    margin-top: 50px;
    opacity: 1;
}

button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-family: 'Cambria', sans-serif;
    background-color: #333;
    color: #f5f5f5;
    border: none;
    margin-top: 50px;
    border-radius: 10px;
    cursor: pointer;
}

p {
    font-size: 20px;
    color: black;
    font-family: 'Cambria', sans-serif;
    font-weight: bold;
}
#grid {
    width: 20%;
    border-collapse: collapse;
    margin: 50px auto 0 auto; /* 50px top margin, auto left/right */
}

td {
    border: 1px solid black;
    text-align: center;
}

li {
    font-size: 20px;
    color: black;
    font-family: 'Cambria', sans-serif;
}

body .playerinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
